.box-gallery {
    width: 300px;
    margin: 0 auto ;
    height:200px;
    overflow: hidden;
    @media #{$mobieScreen} {
        margin: 0 auto;
    }

}
.gallery {
    img {
        width: 100%;
        height: 600px;
    }
}
.inn .slick-dots {
    display: none !important;
}

.galler-in {
    height: 100px;
    margin-bottom: 20px;
    @media #{$smallScreen} {
        height:190px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media #{$smallScreen} {
           object-fit: cover;
        }
    }
}

#gallery {
    .text-box {
        margin-top: 90px !important;
    }
    .slick-slide {
        height: 530px;
        @media #{$mobieScreen }{
            height: 190px;
        }
      }
}
  .slick-slide img {
    height: 100%;
    @media #{$maxScreen}{
        object-fit: contain;
    }
    @media #{$mobieScreen }{
        object-fit: unset;
    }

  }
  