<div class="container-fluid">
    <div class="row">
        <div class="container-content">

            <div class="row counter" align="center"><img src="./asset/images/logo.png" class="img-responsive" />
            </div>

            <div class="row counter">
                <timer end-time="1463151600000">
                    <div class="col-lg-2 col-lg-offset-2">
                        <p>{{days}}</p>
                        <p>DAYS</p>
                    </div>
                    <div class="col-lg-2">
                        <p>{{hours}} </p>
                        <p>hours</p>
                    </div>
                    <div class="col-lg-2">
                        <p>{{minutes}}</p>
                        <p> minutes </p>
                    </div>
                    <div class="col-lg-2">
                        <p>{{seconds}}</p>
                        <p> seconds</p>
                    </div>
                </timer>


            </div>

            <div class="row">
                <a href="#/videos">
                    <div class="videos-icon col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img src="./asset/images/videos-icon.png" class="img-responsive" />

                        <p>Videos</p>
                    </div>
                </a>
                <a href="#/facts">
                    <div class="facts-icon col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img src="./asset/images/facts-icon.png" class="img-responsive" />

                        <p>Facts</p>
                    </div>
                </a>
                <a href="#/login">
                    <div class="game-icon col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <img src="./asset/images/game-icon.png" class="img-responsive" />

                        <p>Game</p>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>