@charset "utf-8";
/* CSS Document */
*
{
  margin: 0;
  padding: 0;
}

*
{
                -webkit-tap-highlight-color:rgba(255,0,0,0);
                -webkit-touch-callout: none;
}


html, body, p, ul, li, h1, h2, h3, h4, h5, h6, input, table, tr, td, th, em, strong, pre, code, form, img
{
	margin: 0;
	padding: 0;
	border: 0;
}

a
{
	text-decoration:none;
	outline:none;
	cursor:pointer;
}

ol, ul
{
list-style: none;
}

#Main_Container{
                width:1024px;
                height:768px;
                overflow: hidden;
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                background-image:url(../images/H2B_Anatomy_EGY_002_Slide.jpg);
                background-repeat:no-repeat;
}

#L1{
	position:absolute;
	left:297px;
	top:289px;
	max-width:111px;
	height:56px;
	background-image:url(../images/L1.png);
	background-repeat:no-repeat;
	opacity:1;
	}
	
#L2{
	position:absolute;
	left:225px;
	top:458px;
	max-width:258px;
	height:64px;
	background-image:url(../images/L2.png);
	background-repeat:no-repeat;
	opacity:1;
	}
#t1{ position:absolute; left:91px; top:335px;  opacity:0;}

#t2{ position:absolute; left:91px; top:502px;  opacity:0;}
