
$minMedium: "(max-width : 1800px)";
$mediumScreen : "(max-width : 991px)";
$minScreen : "(max-width : 1366px)";
$maxScreen : "(max-width : 1024px)";
$mobieScreen : "(max-width : 768px)";
$smallScreen : "(max-width : 667px)";
$extraScreen : "(max-width :320px)";


$mainColor:#492F91;
$secondColor:#FD9615;
$colorText:#43425D;
$lightColor:#808080;
$fixColor:#000;

$mainDirection: ltr;
$left: left;
$right: right;
$mainFont: 15px;
$textLeft: left;
$textRight: right;
$bRadius: 4px;


