<nav class="navbar navbar-default" role="navigation" ng-include="'modules/menu/views/menu.html'">

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 text-center" ng-include="runVideo">

            <!--<video id="my-video" class="video-js videogular-container" controls preload="auto"-->
            <!--poster="MY_VIDEO_POSTER.jpg" data-setup="{}" autoplay="true">-->
            <!--<source src="http://static.videogular.com/assets/videos/videogular.mp4" type='video/mp4'>-->
            <!--<source src="http://static.videogular.com/assets/videos/videogular.webm" type='video/webm'>-->

            <!--</video>-->

        </div>
        <div class="col-lg-3">
            <div>
                <div ng-iscroll="doScroll2" id="doScroll2">
                    <ul class="list-unstyled">
                        <li ng-click="runVideo='modules/videos/views/v_1.html'"><img src='./asset/images/Abbvie_game_video/001_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>
                        <li ng-click="runVideo='modules/videos/views/v_2.html'"><img src='./asset/images/Abbvie_game_video/002_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>
                        <li ng-click="runVideo='modules/videos/views/v_3.html'"><img src='./asset/images/Abbvie_game_video/003_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>
                        <li ng-click="runVideo='modules/videos/views/v_3.html'"><img src='./asset/images/Abbvie_game_video/004_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>
                        <li ng-click="runVideo='modules/videos/views/v_3.html'"><img src='./asset/images/Abbvie_game_video/005_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>
                        <li ng-click="runVideo='modules/videos/views/v_3.html'"><img src='./asset/images/Abbvie_game_video/006_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>
                        <li ng-click="runVideo='modules/videos/views/v_3.html'"><img src='./asset/images/Abbvie_game_video/007_small.png' alt='img_' class="img-thumbnail img-responsive" /></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>