<div class="row" ng-controller="DoneCtrl">
    <div class="col-md-12" ng-show="$root.thank == 1">
        <div id="Tabuvan">
            <img src="./images/logo_2.png" class="logo_img" />
            <img src="./images/right.png" class="true_img" />
            <label>THANK YOU</label>
            <button type="button" class="btn btn-danger" ng-click="goToHome()">Go to Home Page</button></div>
    </div>
    <div class="col-md-12" ng-show="$root.thank == 2">
        <div id="Co-tabuvan">
            <img src="./images/Valsartan-HCT.png" class="logo_img" />
            <img src="./images/right.png" class="true_img" />
            <label>THANK YOU</label>            
            <button type="button" class="btn btn-danger" ng-click="goToHome()">Go to Home Page</button>
        </div>
    </div>
    <div class="col-md-12" ng-show="$root.thank == 3">
        <div id="Lotevan">
            <img src="./images/logo_3.png" class="logo_img" />
            <img src="./images/right.png" class="true_img" />
            <label>THANK YOU</label>            
            <button type="button" class="btn btn-danger" ng-click="goToHome()">Go to Home Page</button>
        </div>
    </div>
</div>