<div class="login-row">
    <div class="vw-40 pull-left" style=" flex: 50%;">
        <img src="./images/002.jpg" class="img-responsive " alt="" />
    </div>
    <div class=" pull-left bg-gray-43" style=" flex: 50%;">
        <div class="form-group m-t-45 text-center" style="margin: 17rem auto 0 auto!important;">
            <label>Welcome</label>
            <input class="form-login form-control" type="text" placeholder="Enter Your Serial no." ng-model="serialNo" />
            <button class="btn btn-danger btn-login" type="button" ng-click="login()">Login</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>