<div class="container">
  <!-- navbar (logo - icon ) -->
  <div class="row header">
    <div class="col-md-12">
      <img src="./images/logo.png" class="pull-left logo" alt="" />
      <img src="./images/profile.png" class="pull-right profile" alt="" />
    </div>
  </div>
  <!-- ./ navbar -->
<!-- ***** content ***** -->
<section ng-include="$root.page" ></section>
  <!-- ./content -->
  <div class="row footer">
    <div class="col-md-12"><p>Copyright &copy; All Rights Reseved</p></div>
  </div>
</div>