<img src="./images/top-banner2.jpg" class="img-responsive" alt="" />

<div class="row m-t-10vh m-b-10vh" ng-controller="MenuCtrl">
    <div class="col-md-2 hidden-xs hidden-sm"><img src="./images/Vector Smart Object.png" class="img-chart" alt="" /></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-4"><img src="./images/Layer 13.png" class="img-responsive" alt="" ng-click="goToQuiz(1)" /></div>
            <div class="col-xs-4"><img src="./images/Group 7.png" class="img-responsive" alt="" ng-click="goToQuiz(2)" /></div>
            <div class="col-xs-4"><img src="./images/Group 6.png" class="img-responsive" alt="" ng-click="goToQuiz(3)" /></div>
        </div>
    </div>
    <div class="col-md-2  hidden-xs hidden-sm"><img src="./images/Vector Smart Object.png" class="img-chart img-chart-r" alt="" /></div>
</div>