
$minMedium: "(max-width : 1800px)";
$mediumScreen : "(max-width : 991px)";
$minScreen : "(max-width : 1365px)";
$maxScreen : "(max-width : 1023px)";
$mobieScreen : "(max-width : 767px)";
$smallScreen : "(max-width : 735px)";
$extraSmallScreen : "(max-width :375px)";
$extraScreen : "(max-width :320px)";



$responsiveScreen : "(min-width :1025px)";
$minLap : "(min-width :1366px)";
$rotateMobile: "(min-width :568px)";
$ipadScreen:"(min-width :768px)";
$rotateScreen:"(min-width :812px)";
$rotateIpad: "(min-width :1024px)";


$mainColor:#003A7F;
$colorText:#003A7F;
$colorTitle:#00A1ED;
$lightColor:#808080;
$fixColor:#000;
$bcColor:#F5F6FA;

$mainDirection: ltr;
$left: left;
$right: right;
$mainFont: 15px;
$textLeft: left;
$textRight: right;
$bRadius: 4px;


